<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PriceDb" connectionString="Data Source=pcesun002;Initial Catalog=PriceDb;MultipleActiveResultSets=True;Persist Security Info=true;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>